<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Smelly Candles</title>
		<!-- BOOTSTRAP LINK -->
        <link 	rel="stylesheet" 
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
                crossorigin="anonymous"/>
            
        <!-- STYLESHEETS -->
   

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap|Open+Sans|Faster+One" rel="stylesheet">

        <!-- FONT AWESOME -->
        <link   rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
                integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
                crossorigin="anonymous">

        <!-- CHART.JS -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <!-- JQUERY SCRIPT -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
