<!DOCTYPE html>
<html>
  <head>
    <title>User Administration</title>
    {{> head}}
  </head>
  <body>
         <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <a class="navbar-brand" href="#">InventoryPro</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">


                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>

            </div>

        </nav>

        <div class="container-fluid">



                <div class="row">
                    <div class="col-sm-2">

                        <div class="list-group">
                            
                            <a href="/admin" class="list-group-item list-group-item-action">
                                    <i class="fas fa-home"></i> Dashboard
                            </a>  
                            
                            <a href="/customers" class="list-group-item list-group-item-action">
                                    <i class="fas fa-users"></i> Customers
                            </a>

                            <a href="/orders" class="list-group-item list-group-item-action active">
                                <i class="fas fa-file-invoice-dollar"></i> Customer Orders
                            </a>

                            <a href="/vendors" class="list-group-item list-group-item-action">
                                    <i class="fas fa-truck-moving"></i> Vendors
                            </a>

                            <a href="/products" class="list-group-item list-group-item-action">
                                    <i class="fas fa-boxes"></i> Products
                            </a>

                            <a href="/reports" class="list-group-item list-group-item-action">
                                <i class="fas fa-chart-pie"></i> Reports
                            </a>

                         </div>

                    </div>

                     <div class="col-sm-10">


                        <h3><i class="fas fa-boxes"></i> Products </h3>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Item ID</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Vendor Name</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Sales Price</th>
                                    <th scope="col">Units Sold</th>                                    
                                    <th scope="col">Quantity Onhand</th>
                                    <th scope="col">Alarm Quantity</th>
                                    <th scope="col">Purchase Order Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="number"></td>
                                    <td><input type="number"></td>
                                    <td><input type="number"></td>
                                    <td><input type="number"></td>
                                    <td><input type="number"></td>
                                    <td><input type="date"></td>
                                </tr>
 
                            </tbody>
                            </table>

                            <div>
                                    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-plus"></i> Add</button>
                                    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit</button>
                                    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-trash-alt"></i> Delete</button>
                                </div>                            

                    </div>
                </div>


            </div>

  </body>
</html>
