<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>INVENTORY PRO</title>
</head>
<body>


    <div class="container">

            <div class="jumbotron jumbotron-fluid bg-warning">
              <div class="container">
                <h1 class="jumbo display-4 text-center" >INVENTORY PRO</h1>
                <p class="lead text-center">Your All In One Online store.</p>
              </div>
            </div>

        <section class="store">
            <header>
               <!--  <img class="main-title" src="img/inventoryPro.jpg" height="250px" width="250px" alt="barnes"> -->
                <h1>Click on the Items to "Purchase" Them!</h1>
                <p>Don't worry, you magically have a store giftcard for $150!!</p>
            </header>
            <main>
                <section class="item-display">
                    <div class="pairing">
                            <p class="item-title">The Hunger Games <br> $10.39</p>
                            <button class="store-item item-one"></button>
                            <p class="hidden buy-me">Click to add to cart!</p>
                    </div>
                    <div class="pairing">
                            <p class="item-title">Aaron's Thinking Putty <br> $3.79</p>
                            <button class="store-item item-two"></button>
                            <p class="hidden buy-me">Click to add to cart!</p>
                    </div>
                    <div class="pairing">
                            <p class="item-title">Settlers of Catan <br> $48.95</p>
                            <button class="store-item item-three"></button>
                            <p class="hidden buy-me">Click to add to cart!</p>
                    </div>
                    <div class="pairing">
                            <p class="item-title">Journal <br> $9.98</p>
                            <button class="store-item item-four"></button>
                            <p class="hidden buy-me">Click to add to cart!</p>
                    </div>
                    <div class="pairing">
                            <p class="item-title">Charmander Nanoblocks <br> $27.95</p>
                            <button class="store-item item-five"></button>
                            <p class="hidden buy-me">Click to add to cart!</p>
                    </div>                                        
                </section>
              <div class="store-total"></div>
                <button class="checkout">Checkout</button>
            </main>

        </section>



        <section class="receipt">

            <header class="receipt-title">
                <h6 class="title">INVENTORY PRO</h6>
                <h6 class="address">131 DEADMAN Avenue</h6>
                <h6 class="address">DALLAS, TX 75245</h6>
                <h6 class="phone">800-266-0212</h6>

                <aside class="receipt-details">
                    <h4>STR:2722 &emsp; REG:003 &emsp; TRN:1111
                        &emsp; CSHR:Jane</h4>
                </aside>
            </header>
            <main class="money-stuff">

                <section class="hidden purchased-items">
                    
                </section>

                <section class="hidden sales-details">
                    <!-- more javascript stuff -->
                </section>
            </main>

            <footer class="closing-remarks">
                <h6 class="final">ALL CLEARANCE PRODUCT SALES</h6>
                <h6 class="final">ARE FINAL - NO RETURNS NOR EXCHANGES</h6>

                <h5 class="date-time">
                    <!-- put some javascript here. -->
                </h5>

                <img src="https://www.incimages.com/uploaded_files/image/970x450/*Barcode_32896.jpg" width="180px" height="60px" alt="barcode">

                <h6>CUSTOMER COPY</h6>

            </footer>

        </section>
    </div>



    <script src="js/app.js"></script>
</body>
</html>